# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 9bc9a9f1eebce6a8547a91731f550e059c7a62008032a04cfd8c731fe02fb363101a694d12764a5c194439203bf485d15fdbb1bb0d2d5286ccc8b97f10a1cb91

test:
  secret_key_base: 26500659d3133d1b07234d47e79bcc31425195a0e3017925605c02b4e0c8aea0976927de51bf12aa53897b85dec5cbca0d91beafa526b2e3ba8e80bef0a311c0

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
